<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud App</title>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'tasks' %}">Tareas</a>
            </li>
            <li>
                <a href="{% url 'create_task' %}">Crear Tarea</a>
            </li>
            <li>
                <a href="{% url 'tasks_completed' %}">Tareas Completadas</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'signup' %}">Signup</a>
            </li>
            <li>
                <a href="{% url 'signing' %}">Signing</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>

</html>